[Unit]
Description=udiskie automatic media mounting daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
