.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 15px;
  padding: 2px 5px;
}

.clock {
  background-color: #24273a;
  color: #cdd6f4;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.brightness_module {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 5px;
  padding: 0 10px;
}

.brightness_icon {
  color: #f9e2af;
  font-size: 16px;
  margin-right: 5px;
}

.brightness_bar scale contents trough {
  background-color: #45475a;
  border-radius: 5px;
  min-height: 8px;
  min-width: 60px;
}

.brightness_bar scale contents trough highlight {
  background-color: #f9e2af;
  border-radius: 5px;
}

.battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 17px;
  transition: all 0.3s ease-in-out;
}

.battery_normal {
  color: #a6e3a1;
}

.battery_critical {
  color: #f38ba8;
}

scale trough slider {
  all: unset;
}
