.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 15px;
  padding: 2px 5px;
}

.backlight {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 2px 0;
    color: #cdd6f4;
}

.backlight {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 2px 0;
    min-width: 70px;
}

.br-icon { color: #f9e2af; font-size: 16px; }
.br-text { color: #cdd6f4; }

.bribar scale contents trough {
    background-color: #45475a;
    border-radius: 5px;
    min-height: 8px;
    min-width: 50px;
}

.bribar scale contents trough highlight {
    background-color: #f9e2af;
    border-radius: 5px;
}

.bribar scale contents trough slider {
    all: unset;
}

.close-icon {
    color: #f38ba8;
    font-size: 14px;
    padding-left: 5px;
}


.clock, .battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.battery_normal, .battery_critical {
  padding: 0 17px;
}

.clock { color: #cdd6f4; }
.battery_normal { color: #a6e3a1; }
.battery_critical { color: #f38ba8; }
