.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
  padding: 2px 5px;
}

.clock{
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 0px;
}

.battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 17px;
}

.clock {
  color: #f8f8f2;
}

.battery_normal {
  color: #cad3f5;
}

.battery_critical {
  color: #ed8796;
}