/* Fő sáv */
.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 15px;
  padding: 2px 5px;
}

/* Backlight a Waybar stílusoddal */
.backlight {
    padding: 0 10px;
    background-color: #24273a; /* Itt a @base megfelelője */
    border-radius: 10px;
    margin: 4px;
    color: #f9e2af; /* Sárgás szín a fényerőnek */
}

/* Óra eredeti stílusa */
.clock {
  background-color: #24273a;
  color: #cdd6f4;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

/* Akkumulátor eredeti stílusa */
.battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 17px;
  transition: all 0.3s ease-in-out;
}

.battery_normal { color: #a6e3a1; }
.battery_critical { color: #f38ba8; }
