.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 15px;
  padding: 2px 5px;
}

.clock{
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 0px;
}

.battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 2px 0;
  padding: 0 17px;
  
}

.clock {
  color: #cdd6f4;
}

.battery_normal {
  color: #a6e3a1;
}

.battery_critical {
  color: #f38ba8;
}