.bar_class {
  background-color: transparent;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 15px;
  padding: 0 8px;
}

.backlight {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 4px 2px;
    color: #cdd6f4;
}

.volume {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 4px 2px;
    color: #cdd6f4;
}

.power-launcher {
    margin: 4px 4px;
}

.custom-power {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 0;
}

.power-actions {
    margin: 0;
}

.power-action {
    padding: 0 10px;
    background-color: #24273a;
    border-radius: 10px;
    font-size: 18px;
}

.arch-icon { color: #89b4fa; }
.power-action.poweroff { color: #f38ba8; }
.power-action.hibernate { color: #f9e2af; }
.power-action.sleep { color: #fab387; }
.power-action.restart { color: #a6e3a1; }

.workspaces {
    margin: 4px 2px;
    padding: 0;
}

.workspace-icon {
    color: #cad3f5;
    font-size: 26px;
    padding-top: 0;
    padding-bottom: 0;
}

.workspace-icon.active {
    color: #cad3f5;
}

.power-icon {
    font-size: 18px;
}

.power-profile {
    padding: 0 8px;
    background-color: #24273a;
    border-radius: 10px;
    margin: 4px 2px;
    font-size: 18px;
}

.power-profile.performance { color: #ed8796; }
.power-profile.balanced { color: #8aadf4; }
.power-profile.power-saver { color: #a6da95; }

.br-icon { color: #f9e2af; font-size: 18px; }
.br-text { color: #cdd6f4; }
.net-icon {
    font-size: 18px;
    margin-right: 1em;
}
.net-text { color: inherit; }
.vol-icon { color: #89b4fa; font-size: 18px; }
.vol-text { color: #cdd6f4; }

scale.bribar trough {
    background-color: #45475a;
    border-radius: 5px;
    min-height: 8px;
    min-width: 80px;
}

scale.bribar highlight {
    background-color: #89b4fa;
    border-radius: 5px;
}

scale.bribar slider {
    all: unset;
}

scale.volbar trough {
    background-color: #45475a;
    border-radius: 5px;
    min-height: 8px;
    min-width: 80px;
}

scale.volbar highlight {
    background-color: #89b4fa;
    border-radius: 5px;
}

scale.volbar slider {
    all: unset;
}


.clock, .battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 4px 2px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}

.battery_normal, .battery_critical {
  padding: 0 10px;
}

.clock { color: #cdd6f4; }
.battery_normal { color: #a6e3a1; }
.battery_critical { color: #f38ba8; }