/* Catppuccin Macchiato színek */
$base: #24273a;
$red: #ed8796;
$text: #cad3f5;

.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
  padding: 5px 15px;
}

.clock {
  font-family: "CaskaydiaCove Nerd Font";
  color: #f8f8f2;
}

.battery_normal, .battery_critical {
  background-color: $base;
  color: $text;
  padding: 0 10px;
  border-radius: 10px;
  margin: 4px 0;
}

.battery_critical {
  color: $red;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.3; }
}
