.bar_class {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 16px;
  padding: 4px 15px;
}

.clock, .battery_normal, .battery_critical {
  background-color: #24273a;
  border-radius: 10px;
  margin: 4px 0;
  padding: 0 10px;
}

.clock {
  color: #f8f8f2;
}

.battery_normal {
  color: #cad3f5;
}

.battery_critical {
  color: #ed8796;
}