* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.85);
}

button {
    border-radius: 0;
    border-color: #494d64;
	text-decoration-color: #00f7ff;
    color: #cad3f5;
	background-color: #363a4f;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

/* Alapbeállítás minden gombhoz */
button {
    font-family: "JetBrainsMono Nerd Font"; /* Írd át a sajátodra, ha más */
    font-size: 50px; /* Az ikon mérete */
    color: white;
    background-image: none; /* Töröljük a képeket, ha voltak */
}

#lock:before {
    content: "\uf023"; /* Lock ikon */
}

#logout:before {
    content: "\uf08b"; /* Logout ikon */
}

#suspend:before {
    content: "\uf04b"; /* Suspend (Pause/Play) ikon */
}

#hibernate:before {
    content: "\uf2dc"; /* Hibernate (Hópehely) ikon */
}

#shutdown:before {
    content: "\uf011"; /* Shutdown ikon */
}

#reboot:before {
    content: "\uf01e"; /* Reboot ikon */
}
