@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 15px;
}

window#waybar {
    background: transparent;
}

#workspaces,
#network,
#clock,
#battery,
#backlight,
#pulseaudio,
#power-profiles-daemon,
#custom-power,
#custom-lock,
#custom-reboot,
#custom-quit {
    background-color: @base;
    border-radius: 12px;
    margin: 4px;
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button.focused, 
#workspaces button.active {
    color: @blue;
}

#workspaces button:hover {
    color: @sapphire;
}

#network { color: @sky; }
#network.disconnected, #network.disabled { color: @red; }
#clock { color: @text; }
#battery { color: @green; }
#backlight { color: @text; }
#pulseaudio { color: @yellow; }
#pulseaudio.muted { color: @red; }

#custom-power { color: @blue; }
#custom-lock { color: @yellow; }
#custom-reboot { color: @green; }
#custom-quit { color: @peach; }

#custom-power:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-quit:hover {
    background-color: @surface1;
    color: @text;
}

@keyframes blink {
    to {
        background-color: @surface2;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance { color: @red; }
#power-profiles-daemon.balanced { color: @blue; }
#power-profiles-daemon.power-saver { color: @green; }